<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Tableau de Bord</ion-title>
    <ion-buttons slot="end">
      <ion-button id="open-notif">
        <ion-icon name="notifications-outline"></ion-icon>
        <div class="notif-dot"></div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div class="welcome-card">
    <div class="user-info">
      <ion-avatar>
        <img src="https://ui-avatars.com/api/?name=Funfia&background=3b82f6&color=fff" />
      </ion-avatar>
      <div class="text">
        <h3>Bonjour,</h3>
        <h1>Collaborateur FUNFIA</h1>
      </div>
    </div>
  </div>

  <div class="balance-container">
    <div class="balance-box">
      <p>SOLDE CONGÉS PAYÉS</p>
      <h2>24.5 <small>jours</small></h2>
    </div>
  </div>

  <h2 class="section-title">Actions Rapides</h2>
  
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <div class="menu-item green" (click)="navDemande()">
          <ion-icon name="add-circle-outline"></ion-icon>
          <span>Nouvelle Demande</span>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="menu-item blue">
          <ion-icon name="calendar-outline"></ion-icon>
          <span>Mes Absences</span>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="menu-item orange">
          <ion-icon name="document-text-outline"></ion-icon>
          <span>Mes Bulletins</span>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="menu-item red" (click)="navProfil()">
          <ion-icon name="settings-outline"></ion-icon>
          <span>Profil</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-popover trigger="open-notif" triggerAction="click" [dismissOnSelect]="true">
    <ng-template>
      <ion-list lines="full">
        <ion-item>
          <ion-icon name="checkmark-circle" color="success" slot="start"></ion-icon>
          <ion-label>
            <h3>Congé Annuel</h3>
            <p>Demande acceptée</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="time" color="warning" slot="start"></ion-icon>
          <ion-label>
            <h3>Demande RTT</h3>
            <p>En attente RH</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-template>
  </ion-popover>

</ion-content>